
.sortButton {
  text-transform: none !important;
  color: #495c70 !important;
  background-color: #fdfdfd !important;
  border:1px solid #dfe3e7 !important;
  margin: 0 5px 0 5px !important
}
.menuContainer{
  margin-top: 5px;
  min-height: 500px;
}
.menuItem{
  min-width: 200px ;
  font-size: 12px;
}